body {
  text-align: center;
  background: linear-gradient(to bottom, #1b2631, #2e86c1);
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
}

.planet {
  display: block;
  margin: 1.5rem auto;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  border-bottom: 2px solid white;
  display: inline-block;
  padding: 0.4rem 1.5rem;
  border-radius: 8px;
}

#planets {
  width: 80%;
  border-collapse: collapse;
  margin: 2rem auto;
  background-color: rgba(48, 48, 48, 0.9);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #ddd;
  color: white;
}

td, 
th {
  border: 1px solid #fff;
  text-align: center;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 6px;
}